<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="javaeditor"
         point="org.eclipse.ui.editors">
      <editor
            name="%CompilationUnitEditorName"
            default="false"
            icon="platform:/plugin/org.eclipse.wst.jsdt.ui/icons/full/obj16/jcu_obj.gif"
            contributorClass="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditor"
            id="org.eclipse.wst.jsdt.ui.CompilationUnitEditor"
            extensions="js">
            <contentTypeBinding contentTypeId="org.eclipse.wst.jsdt.core.jsSource" /> 
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
        <themeElementCategory label="%javaPresentation.label" id="org.eclipse.wst.jsdt.ui.presentation"/>
      <fontDefinition
            label="%javaEditorFontDefiniton.label"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            id="org.eclipse.wst.jsdt.ui.editors.textfont">
         <description>
            %javaEditorFontDefintion.description
         </description>
      </fontDefinition>
      <!--<fontDefinition
            label="%propertiesFileEditorFontDefiniton.label"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            id="org.eclipse.wst.jsdt.ui.PropertiesFileEditor.textfont">
         <description>
            %propertiesFileEditorFontDefintion.description
         </description>
      </fontDefinition>-->
      <fontDefinition
            label="%javadocDisplayFontDefiniton.label"
            defaultsTo="org.eclipse.jface.dialogfont"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            id="org.eclipse.wst.jsdt.ui.javadocfont">
         <description>
            %javadocDisplayFontDefiniton.description
         </description>
      </fontDefinition>
      <colorDefinition
            label="%JavadocViewBackgroundColor.label"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            value="COLOR_INFO_BACKGROUND"
            id="org.eclipse.wst.jsdt.ui.JavadocView.backgroundColor">
         <description>
            %JavadocViewBackgroundColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%DeclarationViewBackgroundColor.label"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            value="COLOR_INFO_BACKGROUND"
            id="org.eclipse.wst.jsdt.ui.DeclarationView.backgroundColor">
         <description>
            %DeclarationViewBackgroundColor.description
         </description>
      </colorDefinition>
     <colorDefinition
            label="%coloredLabels.qualifier.label"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            value="COLOR_DARK_GRAY"
            id="org.eclipse.wst.jsdt.ui.ColoredLabels.qualifier">
         <description>
            %coloredLabels.qualifier.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%coloredLabels.decorations.label"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            value="149,125,71"
            id="org.eclipse.wst.jsdt.ui.ColoredLabels.decorations">
         <description>
            %coloredLabels.decorations.description
         </description>
      </colorDefinition>      
      <colorDefinition
            label="%coloredLabels.counter.label"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            value="0,127,174"
            id="org.eclipse.wst.jsdt.ui.ColoredLabels.counter">
         <description>
            %coloredLabels.counter.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%coloredLabels.inherited.label"
            categoryId="org.eclipse.wst.jsdt.ui.presentation"
            value="COLOR_DARK_BLUE"
            id="org.eclipse.wst.jsdt.ui.ColoredLabels.inherited">
         <description>
            %coloredLabels.inherited.description
         </description>
      </colorDefinition>
    </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%editorFoldingPage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.FoldingPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.FoldingPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.folding"/>
      </page>
      <page
            name="%editorMarkOccurrencesPage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.MarkOccurrencesPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.MarkOccurrencesPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.markoccurrences"/>
      </page>
      <page
            name="%editorTypingPage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.SmartTypingPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.SmartTypingPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.smarttyping"/>
      </page>
      <page
            name="%editorSaveParticipants"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.SaveParticipantPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.SaveParticipantPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.saveparticipant"/>
      </page>
      <page
            name="%contentAssistPageName"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.CodeAssistPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.CodeAssistPreferencePage">
            <keywordReference id="org.eclipse.wst.jsdt.ui.contentassist"/>
      </page>
      <page
            name="%contentAssistAdvancedName"
            category="org.eclipse.wst.jsdt.ui.preferences.CodeAssistPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.CodeAssistAdvancedPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.CodeAssistPreferenceAdvanced">
            <keywordReference id="org.eclipse.wst.jsdt.ui.contentassist"/>
      </page>
      <page
            name="%editorFoldingPage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.FoldingPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.FoldingPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.folding"/>
      </page>
      <page
            name="%editorMarkOccurrencesPage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.MarkOccurrencesPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.MarkOccurrencesPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.markoccurrences"/>
      </page>
      <page
            name="%editorTypingPage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.SmartTypingPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.SmartTypingPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.smarttyping"/>
      </page>
      <page
            name="%editorSaveParticipants"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaEditorPreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.SaveParticipantPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.SaveParticipantPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.saveparticipant"/>
      </page>
      <page
            name="%memberSortPrefName"
            category="org.eclipse.wst.jsdt.ui.preferences.AppearancePreferencePage"
            class="org.eclipse.wst.jsdt.internal.ui.preferences.MembersOrderPreferencePage"
            id="org.eclipse.wst.jsdt.ui.preferences.MembersOrderPreferencePage">
         <keywordReference id="org.eclipse.wst.jsdt.ui.sortorder"/>
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%JavaActionSet.label"
            description="%JavaActionSet.description"
            visible="false"
            id="org.eclipse.wst.jsdt.ui.JavaActionSet">
         <action
               definitionId="org.eclipse.wst.jsdt.ui.navigate.open.type.in.hierarchy"
               label="%OpenTypeInHierarchyAction.label"
               helpContextId="org.eclipse.wst.jsdt.ui.open_type_in_hierarchy_action"
               tooltip="%OpenTypeInHierarchyAction.tooltip"
               class="org.eclipse.wst.jsdt.internal.ui.actions.OpenTypeInHierarchyAction"
               menubarPath="navigate/open.ext2"
               id="openTypeInHierarchy">
         </action>
         <action
               id="openType"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               class="org.eclipse.wst.jsdt.internal.ui.actions.OpenTypeAction"
               definitionId="org.eclipse.wst.jsdt.ui.navigate.open.type"
               icon="$nl$/icons/full/etool16/opentype.gif"
               helpContextId="org.eclipse.wst.jsdt.ui.open_type_action"
               label="%OpenTypeAction.label"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenTypeAction.tooltip">
         </action>
      </actionSet>
   </extension>   

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CodingActionSet.label"
            description="%CodingActionSet.description"
            visible="false"
            id="org.eclipse.wst.jsdt.ui.CodingActionSet">
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.copy.qualified.name"
               label="%CopyQualifiedName.label"
               retarget="true"
               menubarPath="edit/copy"
               icon="$nl$/icons/full/elcl16/cpyqual_menu.gif"
               id="org.eclipse.wst.jsdt.ui.actions.CopyQualifiedName">
         </action>
<!-- =========================================================================== -->
<!-- Navigate Menu                                                               -->
<!-- =========================================================================== -->
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.open.external.javadoc"
               label="%OpenExternalJavadocAction.label"
               retarget="true"
               menubarPath="navigate/open.ext"
               id="org.eclipse.wst.jsdt.ui.actions.OpenExternalJavaDoc">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.open.super.implementation"
               label="%OpenSuperImplementationAction.label"
               tooltip="%OpenSuperImplementationAction.tooltip"
               retarget="true"
               menubarPath="navigate/open.ext"
               id="org.eclipse.wst.jsdt.ui.actions.OpenSuperImplementation">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.navigate.gotopackage"
               label="%GoToPackageAction.label"
               retarget="true"
               menubarPath="navigate/goTo/"
               id="org.eclipse.wst.jsdt.ui.actions.GoToPackage">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.navigate.gototype"
               label="%GoToTypeAction.label"
               retarget="true"
               menubarPath="navigate/goTo/"
               id="org.eclipse.wst.jsdt.ui.actions.GoToType">
         </action>
 <!-- =========================================================================== -->
<!-- Source Menu                                                                 -->
<!-- =========================================================================== -->
         <menu
               label="%SourceMenu.label"
               path="edit"
               id="org.eclipse.wst.jsdt.ui.source.menu">
		    <separator
                  name="commentGroup">
            </separator>
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="importGroup">
            </separator>
            <separator
                  name="generateGroup">
            </separator>
            <separator
                  name="codeGroup">
            </separator>
            <separator
                  name="externalizeGroup">
            </separator>
            <separator
                  name="convertGroup">
            </separator>
         </menu>

<!-- Code Group -->
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.surround.with.quickMenu"
               label="%SurroundWithTemplateAction.label"
               style="pulldown"
               class="org.eclipse.wst.jsdt.internal.ui.actions.SurroundWithTemplateMenuAction"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/codeGroup"
               id="org.eclipse.wst.jsdt.internal.ui.actions.SurroundWithTemplateMenuAction">
         </action>
<!-- Generate Group -->
 <!-- UNTIL REFACTORING SUPPORT
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.generate.constructor.using.fields"
               label="%GenerateConstructorUsingFieldsAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/generateGroup"
               id="org.eclipse.wst.jsdt.ui.actions.GenerateConstructorUsingFields">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.create.getter.setter"
               label="%GenerateGetterSetterAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/generateGroup"
               id="org.eclipse.wst.jsdt.ui.actions.GenerateGetterSetter">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.override.methods"
               label="%OverrideMethodsAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/generateGroup"
               id="org.eclipse.wst.jsdt.ui.actions.OverrideMethods">
         </action>
-->         
<!-- Import Group -->
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.clean.up"
               label="%CleanUpAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/importGroup"
               id="org.eclipse.wst.jsdt.ui.actions.CleanUp">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.sort.members"
               label="%SortMembersAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/importGroup"
               id="org.eclipse.wst.jsdt.ui.actions.SortMembers">
         </action>
<!-- edit group -->
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.quick.format"
               label="%FormatElementAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/editGroup"
               id="org.eclipse.wst.jsdt.ui.actions.FormatElement">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.format"
               label="%FormatAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/editGroup"
               id="org.eclipse.wst.jsdt.ui.actions.Format">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.indent"
               label="%IndentAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/editGroup"
               id="org.eclipse.wst.jsdt.ui.actions.Indent">
         </action>
         <action
               definitionId="org.eclipse.ui.edit.text.shiftLeft"
               label="%ShiftLeftAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/editGroup"
               id="org.eclipse.wst.jsdt.ui.actions.ShiftLeft">
         </action>
         <action
               definitionId="org.eclipse.ui.edit.text.shiftRight"
               label="%ShiftRightAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/editGroup"
               id="org.eclipse.wst.jsdt.ui.actions.ShiftRight">
         </action>
<!-- Comment Group -->
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.add.javadoc.comment"
               label="%AddJavaDocCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/commentGroup"
               id="org.eclipse.wst.jsdt.ui.actions.AddJavaDocComment">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.uncomment"
               label="%UncommentAction.label"
               retarget="true"
               id="org.eclipse.wst.jsdt.ui.actions.Uncomment">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.comment"
               label="%CommentAction.label"
               retarget="true"
               id="org.eclipse.wst.jsdt.ui.actions.Comment">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.remove.block.comment"
               label="%RemoveBlockCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/commentGroup"
               id="org.eclipse.wst.jsdt.ui.actions.RemoveBlockComment">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.add.block.comment"
               label="%AddBlockCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/commentGroup"
               id="org.eclipse.wst.jsdt.ui.actions.AddBlockComment">
         </action>
         <action
               definitionId="org.eclipse.wst.jsdt.ui.edit.text.java.toggle.comment"
               label="%ToggleCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.wst.jsdt.ui.source.menu/commentGroup"
               id="org.eclipse.wst.jsdt.ui.actions.ToggleComment">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.wst.jsdt.ui.CodingActionSet">
         <part
               id="org.eclipse.wst.jsdt.ui.PackageExplorer">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.TypeHierarchy">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.ClassFileEditor">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.ProjectsView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.PackagesView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.TypesView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.MembersView">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      
   <!-- views -->
      <key
            sequence="M2+M3+Q T"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.TypeHierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+Q T"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+Q T"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.TypeHierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+Q P"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.PackageExplorer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+Q P"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+Q P"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.PackageExplorer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+Q D"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.SourceView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+Q D"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+Q D"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.SourceView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+Q J"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.JavadocView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+Q J"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+Q J"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.JavadocView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

    <!-- Changing context to JavaScript Editor -->     
    <!-- navigate -->
      <key
            sequence="M1+T"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.open.hierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!-- refactoring -->
      <key
            sequence="M2+M3+T"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.refactor.quickMenu"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+T"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+T"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.refactor.quickMenu"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+R"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.rename.element"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+R"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+R"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.rename.element"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+V"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.move.element"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+V"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+V"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.move.element"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+C"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.modify.method.parameters"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+C"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+C"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.modify.method.parameters"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+I"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.inline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+I"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+I"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.inline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+M"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.extract.method"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+M"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+M"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.extract.method"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+L"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.extract.local.variable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+L"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+L"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.extract.local.variable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

<!-- edit -->
      <key
            sequence="M2+M3+ARROW_UP"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.enclosing"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+ARROW_UP"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_UP"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.enclosing"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+ARROW_RIGHT"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.next"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+ARROW_RIGHT"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_RIGHT"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.next"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+ARROW_LEFT"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.previous"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+ARROW_LEFT"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_LEFT"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.previous"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+ARROW_DOWN"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.last"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+ARROW_DOWN"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_DOWN"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.last"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

<!-- source -->
      <key
            sequence="M2+M3+S"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.source.quickMenu"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+S"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+S"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.source.quickMenu"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M1+M2+M"
            contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.add.import"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+O"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            commandId="org.eclipse.wst.jsdt.ui.edit.text.java.organize.imports"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
<!-- categories -->
      <category
            name="%category.source.name"
            description="%category.source.description"
            id="org.eclipse.wst.jsdt.ui.category.source">
      </category>
      <category
            name="%category.refactoring.name"
            description="%category.refactoring.description"
            id="org.eclipse.wst.jsdt.ui.category.refactoring">
      </category>
<!-- edit -->
      <command
            name="%ActionDefinition.selectEnclosing.name"
            description="%ActionDefinition.selectEnclosing.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.select.enclosing">
      </command>

      <command
            name="%ActionDefinition.selectNext.name"
            description="%ActionDefinition.selectNext.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.select.next">
      </command>
      <command
            name="%ActionDefinition.selectPrevious.name"
            description="%ActionDefinition.selectPrevious.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.select.previous">
      </command>
      <command
            name="%ActionDefinition.selectLast.name"
            description="%ActionDefinition.selectLast.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.select.last">
      </command>
<!-- source -->
      <command
            name="%ActionDefinition.sourceQuickMenu.name"
            description="%ActionDefinition.sourceQuickMenu.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.source"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.source.quickMenu">
      </command>
      <command
            name="%ActionDefinition.addImport.name"
            description="%ActionDefinition.addImport.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.source"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.add.import">
      </command>
      <command
            name="%ActionDefinition.organizeImports.name"
            description="%ActionDefinition.organizeImports.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.source"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.organize.imports">
      </command>
<!-- views -->
      <command
            name="%ViewCommand.typeHierarchy.name"
            description="%ViewCommand.typeHierarchy.description"
            categoryId="org.eclipse.ui.category.views"
            id="org.eclipse.wst.jsdt.ui.TypeHierarchy">
      </command>
      
      <command
            name="%ViewCommand.packageExplorer.name"
            description="%ViewCommand.packageExplorer.description"
            categoryId="org.eclipse.ui.category.views"
            id="org.eclipse.wst.jsdt.ui.PackageExplorer">
      </command>
      <command
            name="%ViewCommand.sourceView.name"
            description="%ViewCommand.sourceView.description"
            categoryId="org.eclipse.ui.category.views"
            id="org.eclipse.wst.jsdt.ui.SourceView">
      </command>
      
      <command
            name="%ViewCommand.javadocView.name"
            description="%ViewCommand.javadocView.description"
            categoryId="org.eclipse.ui.category.views"
            id="org.eclipse.wst.jsdt.ui.JavadocView">
      </command>
<!-- refactoring -->
      <command
            name="%ActionDefinition.refactorQuickMenu.name"
            description="%ActionDefinition.refactorQuickMenu.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.refactoring"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.refactor.quickMenu">
      </command>
      <command
            name="%ActionDefinition.renameElement.name"
            description="%ActionDefinition.renameElement.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.refactoring"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.rename.element">
      </command>
      <command
            name="%ActionDefinition.moveElement.name"
            description="%ActionDefinition.moveElement.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.refactoring"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.move.element">
      </command>
      <command
            name="%ActionDefinition.modifyMethodParameters.name"
            description="%ActionDefinition.modifyMethodParameters.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.refactoring"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.modify.method.parameters">
      </command>
      <command
            name="%ActionDefinition.inline.name"
            description="%ActionDefinition.inline.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.refactoring"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.inline">
      </command>
      <command
            name="%ActionDefinition.extractMethod.name"
            description="%ActionDefinition.extractMethod.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.refactoring"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.extract.method">
      </command>
      <command
            name="%ActionDefinition.extractLocalVariable.name"
            description="%ActionDefinition.extractLocalVariable.description"
            categoryId="org.eclipse.wst.jsdt.ui.category.refactoring"
            id="org.eclipse.wst.jsdt.ui.edit.text.java.extract.local.variable">
      </command>

   </extension>
</plugin>

