<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="org.eclipse.wst.jsdt.js.npm.internal.ui.npmFileContent" />
			</includes>
		</viewerContentBinding>
	</extension>
	
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent 
            id="org.eclipse.wst.jsdt.js.npm.internal.ui.npmFileContent" 
            name="NPM Script Content Provider"
            contentProvider="org.eclipse.wst.jsdt.js.npm.internal.ui.NpmScriptContentProvider"
            labelProvider="org.eclipse.wst.jsdt.js.npm.internal.ui.NpmScriptLabelProvider" 
            activeByDefault="true"
            icon="icons/npm_16.png"
            priority="highest" >
         <triggerPoints>
	            <and>
	               <instanceof value="org.eclipse.core.resources.IResource"/>
	               <test
	                     forcePluginActivation="true"
	                     property="org.eclipse.core.resources.name"
	                     value="package.json"/>
	            </and>
         </triggerPoints>
      </navigatorContent>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
	    <propertyTester
	      	id="org.eclipse.wst.jsdt.js.npm.update.tester"
	      	type="org.eclipse.core.resources.IResource"
	      	namespace="org.eclipse.wst.jsdt.js.npm"
	      	properties="isNpmInit"
	      	class="org.eclipse.wst.jsdt.js.npm.internal.launch.tester.NpmLaunchTester">
	    </propertyTester>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
     	 <shortcut
            class="org.eclipse.wst.jsdt.js.npm.internal.launch.shortcut.NpmRunScript"
            description="NPM Script"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.npmScriptShortcut"
            icon="icons/npm_16.png"
            id="org.eclipse.wst.jsdt.js.npm.script"
            label="npm Script"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
                <iterate ifEmpty="false">
                      <instanceof value="org.eclipse.wst.jsdt.js.npm.internal.NpmScriptTask" />
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="npm Script"/>
  		 </contextualLaunch>
    	</shortcut>
    </extension>   
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.wst.jsdt.js.npm.internal.launch.shortcut.NpmUpdate"
            id="org.eclipse.wst.jsdt.js.npm.update"
            label="npm Update"
            icon="icons/npm_16.png"
            modes="run">
        <contextualLaunch>
            <enablement>
                <with variable="selection">
                    <count value="1"/>
                    <iterate>
                        <adapt  type="org.eclipse.core.resources.IResource">
	                        <test property="org.eclipse.wst.jsdt.js.npm.isNpmInit" 
	                           	forcePluginActivation="true"/>
                        </adapt> 
                    </iterate>
                </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.wst.jsdt.js.npm.internal.launch.shortcut.NpmInstall"
            id="org.eclipse.wst.jsdt.js.npm.install"
            label="npm Install"
            icon="icons/npm_16.png"
            modes="run">
        <contextualLaunch>
            <enablement>
                <with variable="selection">
                    <count value="1"/>
                    <iterate>
                        <adapt  type="org.eclipse.core.resources.IResource">
	                        <test property="org.eclipse.wst.jsdt.js.npm.isNpmInit" 
	                           	forcePluginActivation="true"/>
                        </adapt> 
                    </iterate>
                </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
      point = "org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.wst.jsdt.js.wizards.npm.init"
            name="npm Init"
            class="org.eclipse.wst.jsdt.js.npm.internal.wizard.NpmInitWizard"
            category="org.eclipse.wst.jsdt.ui.java"
            icon="icons/npm_16.png">
            <description>npm Init</description>
            <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          id="org.eclipse.wst.jsdt.js.npm.npmLaunchConfigurationType"
          delegate="org.eclipse.wst.jsdt.js.npm.internal.launch.NpmLaunchConfigurationDelegate"
          modes="run"
          name="npm"
     	  public="false">
    </launchConfigurationType>
 </extension>

</plugin>
