<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.expressions.propertyTesters">
    	<propertyTester
      		id="org.eclipse.wst.jsdt.js.node.propertyTester"
      		type="org.eclipse.core.resources.IResource"
      		namespace="org.eclipse.wst.jsdt.js.node"
      		properties="hasPackageJson,isValidFile"
      		class="org.eclipse.wst.jsdt.js.node.internal.propertytesters.NodePropertyTester">
    	</propertyTester>
   </extension>
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
     	 <shortcut
            class="org.eclipse.wst.jsdt.js.node.internal.launch.shortcut.NodeLaunch"
            description="Node.js Application"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.NodeShortcut"
            icon="icons/node_16.png"
            id="org.eclipse.wst.jsdt.js.node.internal.launch.shortcut.NodeLaunch"
            label="Node.js Application"
            modes="run,debug">
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection">   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>
                       <or>
                       	   <and>
	                          <instanceof value="org.eclipse.core.resources.IFile"/>
	                          <test property="org.eclipse.wst.jsdt.js.node.isValidFile" value="true" forcePluginActivation="true"/>
	                       </and>                           
	                       <and>
	                          <instanceof value="org.eclipse.core.resources.IProject"/>
	                          <test property="org.eclipse.wst.jsdt.js.node.hasPackageJson" value="true" forcePluginActivation="true"/>
	                       </and>
	                   </or>
                    </iterate>   
                 </with>   
              </enablement>   
           </contextualLaunch> 
    	</shortcut>
    </extension>
    
   <extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          id="org.eclipse.wst.jsdt.js.node.NodeLaunchConfigurationType"
          delegate="org.eclipse.wst.jsdt.js.node.internal.launch.NodeLaunchConfigurationDelegate"
          modes="run,debug"
          name="Node.js Application">
    </launchConfigurationType>
  </extension>
  
  <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="org.eclipse.wst.jsdt.js.node.NodeLaunchConfigurationType"
          icon="icons/node_16.png"
          id="org.eclipse.wst.jsdt.js.NodeLaunchConfigurationTypeImage">
    </launchConfigurationTypeImage>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.eclipse.wst.jsdt.js.node.NodeLaunchConfigurationType"
        class="org.eclipse.wst.jsdt.js.node.internal.launch.ui.NodeLaunchTabGroup"
        id="org.eclipse.wst.jsdt.js.node.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.wst.jsdt.core.JSRuntimeType">
     <runtimeType
           id="org.eclipse.wst.jsdt.js.node.runtimeType"
           class="org.eclipse.wst.jsdt.js.node.runtime.NodeJsRuntimeType">
     </runtimeType>
  </extension>
  <extension
        point="org.eclipse.wst.jsdt.core.JSRuntimeInstallProvider">
     <runtimeProvider
           class="org.eclipse.wst.jsdt.js.node.runtime.NodeJSRuntimeProvider"
           runtimeTypeId="org.eclipse.wst.jsdt.js.node.runtimeType">
     </runtimeProvider>
  </extension>
</plugin>

