<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="javaeditor"
         point="org.eclipse.ui.editors">
      <editor
            name="%CompilationUnitEditorName"
            default="false"
            icon="$nl$/icons/full/obj16/jcu_obj.gif"
            contributorClass="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditor"
            symbolicFontName="org.eclipse.wst.jsdt.ui.editors.textfont"
            id="org.eclipse.wst.jsdt.ui.CompilationUnitEditor"
            extensions="js">
            <contentTypeBinding contentTypeId="org.eclipse.wst.jsdt.core.jsSource" /> 
      </editor>
      <editor
            name="%ClassFileViewerName"
            default="false"
            icon="$nl$/icons/full/obj16/classf_obj.gif"
            contributorClass="org.eclipse.wst.jsdt.internal.ui.javaeditor.ClassFileEditorActionContributor"
            class="org.eclipse.wst.jsdt.internal.ui.javaeditor.ClassFileEditor"
            symbolicFontName="org.eclipse.wst.jsdt.ui.editors.textfont"
            id="org.eclipse.wst.jsdt.ui.ClassFileEditor">
            <contentTypeBinding
               contentTypeId="org.eclipse.wst.jsdt.core.javaClass"
            /> 
      </editor>
   </extension>

    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="$nl$/icons/full/eview16/jperspective.gif"
            class="org.eclipse.wst.jsdt.internal.ui.JavaPerspectiveFactory"
            id="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <description>
            %java.perspective.description
         </description>
      </perspective>    
   </extension>

    <extension point="org.eclipse.ui.perspectiveExtensions">
   
      <!-- shortcuts to JS perspective -->
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.wst.jsdt.ui.JavaPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="org.eclipse.wst.jsdt.ui.JavaPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.wst.web.ui.webDevPerspective">
         <perspectiveShortcut id="org.eclipse.wst.jsdt.ui.JavaPerspective"/>
      </perspectiveExtension> 
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="org.eclipse.wst.jsdt.ui.JavaPerspective"/>
      </perspectiveExtension>
    
      <!-- shortcuts from JS perspective -->
      <perspectiveExtension targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.wst.web.ui.webDevPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
      </perspectiveExtension>

      <!-- view shortcuts in JS perspective -->
      <perspectiveExtension targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
      	<viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer"/>
      </perspectiveExtension>      
      <perspectiveExtension targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/>
         <showInPart id="org.eclipse.wst.jsdt.ui.PackageExplorer"/>
         <showInPart id="org.eclipse.team.ui.GenericHistoryView"/>
         <showInPart id="org.eclipse.ui.views.ResourceNavigator"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.wst.jsdt.ui.JavaBrowsingPerspective">
         <showInPart id="org.eclipse.wst.jsdt.ui.PackageExplorer"/>
         <showInPart id="org.eclipse.team.ui.GenericHistoryView"/>
         <showInPart id="org.eclipse.ui.views.ResourceNavigator"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <showInPart id="org.eclipse.wst.jsdt.ui.PackageExplorer"/>
      </perspectiveExtension>
      
	</extension>
 
    <extension
		point="org.eclipse.ui.newWizards">
		<wizard
			name="%NewJavaProject.label"
			icon="$nl$/icons/full/etool16/newjprj_wiz.gif"
			category="org.eclipse.wst.jsdt.ui.java"
			class="org.eclipse.wst.jsdt.internal.ui.wizards.JavaProjectWizard"
			preferredPerspectives="org.eclipse.wst.jsdt.ui.JavaPerspective,org.eclipse.wst.jsdt.ui.JavaBrowsingPerspective"
			project="true"
			finalPerspective="org.eclipse.wst.jsdt.ui.JavaPerspective"
			id="org.eclipse.wst.jsdt.ui.wizards.JavaProjectWizard">
			<description>%NewJavaProject.description</description>
		</wizard>
   </extension>
 
</plugin>
